
@import '../../../style/colors.scss';
@import '../../../style/fonts.scss';

nav.navbar {
    position: absolute;
    top:0;
    z-index: 9;
    width: 100%;
    background-color: transparent;
    padding : 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    @media (min-width : 768px){
        padding : 1.6rem 11.2rem;
    }

    div.navbar__contact {
        display: flex; 
        justify-content: center;
        gap: 16px;
        
        p {
            font-size: 1.4rem;
            color : $blue-500;
        }
        p.navbar__contact-text {
            color : $gray-paragraph
        }

        @media (min-width: 768px){
            width: 300px;
        }
    }
        
    div.navbar_phone-wrap {
        display: inline-flex;
        align-items: center;
        i {
            color : #6F7DFF;
            margin-right: 2px;
        }
    }
}

nav.navbar-fixed {
    position: relative;
    border: 1px solid #E4E8F7;
}
