
$light: 300;
$normal: 400;
$subbold: 500;
$semibold: 600;
$bold: 700;

$title-font: 'Lato', sans-serif;
$body-font: 'Roboto', sans-serif;


@mixin title {
  font-weight: $semibold;
  font-size: 1.6rem;
  font-family: $title-font;
  margin: 0;
}

@mixin h1 {
  font-weight: $semibold;
  font-size: 32px;
  line-height: 40px;
  font-family: $title-font;
  margin: 0;
}

@mixin h2 {
  font-weight: $semibold;
  font-size: 2.4rem;
  font-family: $title-font;
  margin: 0;
}

@mixin h4 {
  font-weight: $normal;
  font-size: 1.6rem;
  font-family: $title-font;
  margin: 0;
}

@mixin paragraph {
  font-weight: $normal;
  font-size: 1.4rem;
  font-family: $body-font;
  margin: 0;
}

