

@import '../../../../style/colors.scss';
@import '../../../../style/fonts.scss';


div.coverage-select{
    display: flex;
    div.single__coverage-select{
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        border-bottom: 2px solid #E4E8F7;
        transition:all 0.3s ease-in-out;
        p {
            color: $gray-title;
            letter-spacing: 0.8px;
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            transition:all 0.3s ease-in-out;
        }
    }

    div.single__coverage-select-selected {
        border-bottom: 2px solid $red-500;
        p {
            color : $red-500;
        }
    }
}